*{
    margin: 0;
    padding: 0;
    background: #222;
    color: white;
}

.carousel{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.carousel-indicators{
    z-index: 2;
    position: absolute;
    bottom: 1%;
    display: flex;
    width: 100%;
    justify-content: center;
    background: transparent;
}

.carousel-indicators>li{
    display: inline;
    width: 30px;
    height: 5px;
    background-color: rgba(240,240,240,.6);
    mix-blend-mode: difference;
    margin: 0 3px;
}

.carousel-indicators>li:hover{
    background-color: rgba(255,255,255,.95);
}

.carousel-indicators>li.active{
    background-color: rgba(255,255,255);
}

.carousel-images{
    height: 600px;
    width: 800px;
}

.carousel-item{
    display: none;
}

.carousel-item.active{
    display: block;
}

a{
    display: block;
    width: 40px;
    height: 40px;
    transform: translateY(-50%) rotateZ(45deg);
    outline: none;
    background: transparent;
    position: absolute;
    top: 50%;
    border: none;
    z-index: 999;
}

.carousel-btn-left{
    border-left: 8px solid rgba(240,240,240,.8);
    border-bottom: 8px solid rgba(240,240,240,.8);
    left: 30px;
}

.carousel-btn-right{
    border-right: 8px solid rgba(240,240,240,.8);
    border-top: 8px solid rgba(240,240,240,.8);
    right: 30px;
}
